<configuration>
	<!-- Other configuration settings -->

	<system.web>
		<!-- Enable debugging -->
		<compilation debug="true" targetFramework="4.8" />
		<!-- Other settings -->
	</system.web>

	<appSettings>
		<add key="MyConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VTC Navigation.mdf;Integrated Security=True" />
	</appSettings>


</configuration>
